.container{
    box-sizing: border-box;
}
.header{
    font-weight: bold;
    font-size: 30px;    
    background-color: burlywood;
}
.body1{
    background-color: burlywood;
}
.col{
    float: left;
    width: 33%;
}
.body1::after{
    content: "";
    clear: both;
    display: table;
}
